<% @students.each do |student|%>
    <p><%= student.first_name %> <%= student.last_name %></p> 
     <!-- <%= student.to_s %>.to_s combines the code about to out the students first and last name-->
<% end%>